span.material-symbols-outlined.back-arrow {
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 10px;
  cursor: pointer;
}
.inner-container {
  display: flex;
  background: #fff;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  max-width: 76%;
  margin: 23px auto;
}
.inner-container:last-child {
  background-color: #f1f1f1;
}

.inner-container span:nth-child(1) {
  font-size: 32px;
  color: green;
}

p.notification-info {
  font-size: 14px;
}

span.time {
  font-size: 12px;
}
