<div class="container">
  <div class="home-container">
    <div class="semester-bar position-relative">
      <span class="material-symbols-outlined back-arrow"> arrow_back </span>

      <span class="semester-enrty"> All Notifications</span>
    </div>

    <div class="performance-graph-container">
      <div class="notification-container">
        <div class="inner-container">
          <span class="material-symbols-outlined"> check_circle </span>
          <p class="notification-info">
            Your attendance has been recorded for CO7221: Research Methods and
            Theories in HCI
          </p>
          <span class="time">2mins ago</span>
        </div>

        <div class="inner-container">
          <span class="material-symbols-outlined"> check_circle </span>
          <p class="notification-info">
            Your attendance has been recorded for CO7221: Research Methods and
            Theories in HCI
          </p>
          <span class="time">2mins ago</span>
        </div>

        <div class="inner-container">
          <span class="material-symbols-outlined"> check_circle </span>
          <p class="notification-info">
            Your attendance has been recorded for CO7221: Research Methods and
            Theories in HCI
          </p>
          <span class="time">2mins ago</span>
        </div>
      </div>
    </div>
  </div>
</div>
