h4.performance-heading.rules {
  margin-left: 15px;
}

.rules-content-container {
  display: flex;
}

.rules-content-section {
  background: #fff;
  padding: 18px 32px;
  border-radius: 8px;
}

.rules-content-container span {
  font-size: 14px;
  margin: 3px 9px 0 0;
}

p.rules-content-element {
  font-size: 15px;
  margin-bottom: 8px;
}

.rules-content-container:nth-child(1) {
  border-bottom: 1px solid lightgrey;
  display: flex;
}

.rules-content-element.header {
  display: flex;
  justify-content: space-between;
  margin-left: 43px;
}

p.rules-content-heading {
  align-self: center;
  font-size: 23px;
}

.rules-content-heading span {
  font-size: 23px;
  font-weight: bold;
}

img.img-fluid.rules-img {
  max-width: 50%;
}

p.rules-side-head {
  color: #e4042c;
  padding: 13px 12px;
  font-size: 22px;
  margin-bottom: 3px;
}

.forms-download-container {
  background: #fff;
  padding: 16px 10px 4px 20px;
  border-radius: 8px;
  margin-bottom: 16px;
}

p.forms-heading {
  font-size: 16px;
  font-weight: 600;
}

.form-section {
  margin-bottom: 14px;
}

.forms-declare-section {
  display: flex;
}

.forms-declare-section span {
  font-size: 14px;
  margin: 4px;
}

p.forms-content {
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 19px;
}

button.download-btn.btn.btn-md {
  background: #e4052c;
  color: #fff;
  margin-left: 18px;
  font-size: 12px;
}

.form-section {
  margin-bottom: 14px;
}

a.forms-content span {
  font-size: 13px;
  vertical-align: middle;
}

a.forms-content {
  color: black;
  font-size: 12px;
}

p.rules-content-element.bold {
  font-weight: bold;
}

.forms-content a {
  color: #000000;
}

.forms-content a:hover {
  color: #045ee4;
}
