<div class="container">
  <div class="home-container">
    <div class="semester-bar">
      <span class="semester-enrty">Both Semesters</span>
    </div>

    <div class="rules-container">
      <h4 class="performance-heading rules">Rules Sheet</h4>

      <div class="row">
        <div class="col-md-8">
          <div class="rules-content-section">
            <div class="rules-content-container">
              <span class="material-symbols-outlined"> arrow_forward_ios </span>

              <p class="rules-content-element">
                Attendance is an essential requirement for all campus-based
                programmes of study, full- or part-time. If you are a full-time
                student you must reside in Leicester or within easy commuting
                distance of the city for the duration of each semester. All
                students are normally required to attend all learning and
                teaching sessions associated with the course on which they are
                registered.
              </p>
            </div>

            <div class="rules-sheet-second-container">
              <p class="rules-side-head">Absence: requests and notifications</p>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  It is the responsibility of every student to notify their home
                  department of any absences from the Diversity
                </p>
              </div>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  If you are unable to attend a class, tell your
                  department/school office or your personal tutor straightway
                </p>
              </div>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  When the absence is a result of illness of less than five
                  days' duration you should complete and submit a
                  self-certification form.
                </p>
              </div>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  Departments are empowered by Senate Regulation 4 to authorise
                  short absences for personal or relig reasons from campus-based
                  courses
                </p>
              </div>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  Requests for absences of more than one week must be explicitly
                  in writing and will only be granted the department is in
                  agreement with the proposal and you take full responsibility
                  for the completion of outstanding academic work.
                </p>
              </div>

              <p class="rules-side-head">Non-authorised absence</p>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  Students who are absent from compulsory teaching sessions
                  without an accepted explanation risk disciplinary action
                </p>
              </div>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  our department will contact you after a period of
                  non-authorised attendance, to advise the next steps. offer
                  assistance and explain any action that may be taken. This will
                  be conducted in accordance with the stages laid out in the
                  University's Policy on Attendance at Timetabled Teaching
                  Events.
                </p>
              </div>

              <p class="rules-side-head">
                If you are struggling to meet attendance requirements
              </p>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  Contact your personal tutor to discuss your situation if you
                  are struggling to fulfil the attendance or any other
                  requirements of your course.
                </p>
              </div>

              <div class="rules-content-container">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">
                  If your personal tutor is not available you can speak with
                  your Head of Department or an appropriate member of staff in
                  the department/school office.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="forms-download-container">
            <p class="forms-heading">Forms to download</p>

            <div class="form-section">
              <div class="forms-declare-section">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">Self- certification form</p>
              </div>

              <p class="forms-content">
                Let your Uni know if you have been absent for less than 5 days,
                fill and submit.
              </p>

              <button class="download-btn btn btn-md">Download</button>
            </div>

            <div class="form-section">
              <div class="forms-declare-section">
                <span class="material-symbols-outlined">
                  arrow_forward_ios
                </span>

                <p class="rules-content-element">Self- certification form</p>
              </div>

              <p class="forms-content">
                Let your Uni know if you have been absent for less than 5 days,
                fill and submit.
              </p>

              <button class="download-btn btn btn-md">Download</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
