<div class="navbar-container">
  <div class="search-container">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search here" />
      <div class="input-group-append">
        <button class="btn btn-search" type="button">
          <img
            src="assets/search-icon.png"
            alt="search icon"
            class="img-fluid search-icon"
          />
        </button>
      </div>
    </div>
  </div>

  <div class="notification-user-container">
    <div class="notification-container position-relative">
      <img
        src="assets/notification-icon.png"
        alt="notification bell"
        class="img-fluid notification-icon"
        routerLink="notification"
      />
      <span class="notification-count">3</span>
    </div>
    <div class="user-container">
      <img src="assets/user.png" alt="user-icon" class="img-fluid user-icon" />

      <div class="user-info">
        <p class="user-name">Jhon Watson</p>
        <p class="user-name">test@gmail.com</p>
      </div>
    </div>
  </div>
</div>
