<div class="container-fluid">
  <div class="row">
    <div class="pl-0">
      <div class="side-bar-container">
        <div>
          <div class="logo-container">
            <img
              src="assets/uol-logo.png"
              alt="Uiniversity Logo"
              class="img-fluid logo-img"
            />
          </div>
          <div class="sidebar-nav-elements">
            <div class="nav-container">
              <ul class="list-group">
                <a class="side-bar-nav-element active" routerLink="/">
                  <img
                    src="assets/dashboard.png"
                    alt="dashboard icon"
                    class="img-fluid sidebar-nav-icons"
                  />
                  Dashboard
                </a>

                <a class="side-bar-nav-element" routerLink="calendar">
                  <img
                    src="assets/calendar.png"
                    alt="Calendar icon"
                    class="img-fluid sidebar-nav-icons"
                  />
                  Calendar
                </a>

                <a class="side-bar-nav-element" routerLink="module">
                  <img
                    src="assets/modules.png"
                    alt="Modules icon"
                    class="img-fluid sidebar-nav-icons"
                  />
                  Modules
                </a>

                <a class="side-bar-nav-element" routerLink="rules">
                  <img
                    src="assets/rules.png"
                    alt="Rules icon"
                    class="img-fluid sidebar-nav-icons"
                  />
                  Rules
                </a>
              </ul>
            </div>
          </div>
        </div>

        <div class="logout-bottom-container">
          <a class="side-bar-nav-element">
            <img
              src="assets/logout.png"
              alt="logout icon"
              class="img-fluid"
              class="img-fluid sidebar-nav-icons"
            />
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
