<div class="container">
  <div class="home-container">
    <div class="semester-bar">
      <span class="semester-enrty active">Semester 1</span>

      <span class="semester-enrty">Semester 2</span>
    </div>
  </div>

  <div class="modules-section">
    <h4 class="performance-heading">Module wise attendance update</h4>

    <div class="modules-inner-container">
      <div class="row">
        <div class="col-md-4">
          <div class="modules-left-nav">
            <span class="modules-name">Modules</span>

            <div class="modules-cards-container">
              <div
                class="modules-cards"
                [ngClass]="{ active: activeClassId === 'C07221' }"
                (click)="showClasses('C07221')"
              >
                <span class="red-dot dot"></span>

                <p class="module-class-id">C07221</p>
                <p class="module-class-desc">
                  Research Methods and Theroies in HCI
                </p>
              </div>

              <div
                class="modules-cards"
                [ngClass]="{ active: activeClassId === 'C03093' }"
                (click)="showClasses('C03093')"
              >
                <span class="green-dot dot"></span>
                <div>
                  <p class="module-class-id">C03093</p>
                  <p class="module-class-desc">
                    Research Methods and Theroies in HCI
                  </p>
                </div>
              </div>

              <div class="modules-cards">
                <span class="orange-dot dot"></span>
                <div>
                  <p class="module-class-id">C07221</p>
                  <p class="module-class-desc">
                    Research Methods and Theroies in HCI
                  </p>
                </div>
              </div>

              <div class="modules-cards">
                <span class="red-dot dot"></span>

                <div>
                  <p class="module-class-id">C07221</p>
                  <p class="module-class-desc">
                    Research Methods and Theroies in HCI
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="class-list-section">
            <span class="modules-name">Sessions of this modules</span>

            <div class="class-container">
              <div class="class-details-card" *ngFor="let class of classData">
                <span class="class-date">{{ class.date }}</span>

                <span class="class-count">{{ class.number }}</span>
                <span class="class-topic">{{ class.title }}</span>

                <span class="class-status" *ngIf="class.status">
                  <span class="material-symbols-outlined green"> check </span>
                  Present</span
                >

                <span class="class-status" *ngIf="!class.status"
                  ><span class="material-symbols-outlined red"> close </span>
                  Absent</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
