<div class="container">
  <div class="home-container">
    <div class="semester-bar">
      <span class="semester-enrty active">Semester 1</span>

      <span class="semester-enrty">Semester 2</span>
    </div>
  </div>

  <div class="modules-section">
    <h4 class="performance-heading">Module wise attendance update</h4>

    <div class="modules-inner-container">
      <div class="row">
        <div class="col-md-4">
          <div class="modules-left-nav">
            <span class="modules-name">Modules</span>

            <div class="modules-cards-container">
              <div class="modules-cards active">
                <p class="module-class-id">C07221</p>
                <p class="module-class-desc">
                  Research Methods and Theroies in HCI
                </p>
              </div>

              <div class="modules-cards">
                <span class="green-dot"></span>
                <div>
                  <p class="module-class-id">C07221</p>
                  <p class="module-class-desc">
                    Research Methods and Theroies in HCI
                  </p>
                </div>
              </div>

              <div class="modules-cards">
                <span class="orange-dot"></span>
                <div>
                  <p class="module-class-id">C07221</p>
                  <p class="module-class-desc">
                    Research Methods and Theroies in HCI
                  </p>
                </div>
              </div>

              <div class="modules-cards">
                <span class="red-dot"></span>

                <div>
                  <p class="module-class-id">C07221</p>
                  <p class="module-class-desc">
                    Research Methods and Theroies in HCI
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="class-list-section">
            <span class="modules-name">Sessions of this modules</span>

            <div class="class-container">
              <div class="class-details-card">
                <span class="class-date">14-01-2021</span>

                <span class="class-count">Class 1</span>
                <span class="class-topic">Intro to HCI</span>

                <span class="class-status">
                  <span class="material-symbols-outlined green"> check </span>
                  Present</span
                >
              </div>

              <div class="class-details-card">
                <span class="class-date">14-01-2021</span>

                <span class="class-count">Class 1</span>
                <span class="class-topic">Intro to HCI</span>

                <span class="class-status"
                  ><span class="material-symbols-outlined red"> close </span>
                  Absent</span
                >
              </div>

              <div class="class-details-card">
                <span class="class-date">14-01-2021</span>

                <span class="class-count">Class 1</span>
                <span class="class-topic">Intro to HCI</span>

                <span class="class-status">
                  <span class="material-symbols-outlined green"> check </span>
                  Present</span
                >
              </div>

              <div class="class-details-card">
                <span class="class-date">14-01-2021</span>

                <span class="class-count">Class 1</span>
                <span class="class-topic">Intro to HCI</span>

                <span class="class-status">
                  <span class="material-symbols-outlined green"> check </span>
                  Present</span
                >
              </div>

              <div class="class-details-card">
                <span class="class-date">14-01-2021</span>

                <span class="class-count">Class 1</span>
                <span class="class-topic">Intro to HCI</span>

                <span class="class-status"
                  ><span class="material-symbols-outlined red"> close </span>
                  Absent</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
