.modules-section {
  margin-left: 5px;
}

.modules-left-nav {
  padding: 0 28px;
  border-right: 2px solid #eeeeee;
  margin: 40px 0;
}

span.modules-name {
  font-size: 14px;
}

.modules-cards-container {
  margin-top: 34px;
}

.modules-cards.active {
  border-left: 3px solid #045ee4;
  background: #f2f7ff;
  border-radius: 0 8px 8px 0;
}

p.module-class-id {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}

p.module-class-desc {
  font-size: 12px;
  margin-bottom: 6px;
}

.modules-cards {
  padding: 5px 12px 5px 18px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.dot {
  position: absolute;
  left: 0;
}

.modules-cards.active .dot {
  display: none;
}

.modules-inner-container {
  background: #fff;
  border-radius: 8px;
}

.green-dot,
.orange-dot,
.red-dot {
  margin-top: 6px;
}

.class-list-section {
  padding: 40px 10px;
}

h4.performance-heading {
  font-size: 16px;
  margin: 20px 0;
}
.class-details-card {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid #dfdfdf;
  padding: 6px 0;
  border-radius: 8px;
  max-width: 95%;
}

span.class-date {
  font-size: 13px;
  align-self: end;
}

span.class-count {
  font-size: 14px;
  align-self: center;
}

span.class-topic {
  font-size: 14px;
  align-self: center;
}

span.class-status {
  font-size: 14px;
}

.class-container {
  margin-top: 38px;
}

.green {
  color: #18c618;
  font-size: 24px;
  vertical-align: middle;
}

.red {
  color: red;
  font-size: 24px;
  vertical-align: middle;
}
